/*
 *= require 'application'
 *= require 'forms'
 */
@import "variables";
@import "mixins";
@font-face {
	font-family: 'icons';
	src:font-url('icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
body.app-layout {
	background: #fff !important;
	padding-top: 0px;
}
.pdf-keeptogether {
	page-break-inside: avoid !important;
	#gender-graph {
		height: 300px!important;
		max-width: 600px!important;
		min-width: 310px!important;
		min-height: 300px!important;
	}
	.chart-area {
		width: 700px!important;
		max-height: 800px!important;
		max-width: 700px!important;
		min-height: 350px!important;
	}
}
.last-in-page { page-break-after: always; }
#main-container{
	padding: 0;
}
.resource-list {
	margin-top: 0;
	.resource-item {

		.resource-item-link {
			width: 100%;
		}
		.resource-item-actions {
			display: none;
		}
		&:hover {
			.resource-item-actions {
				display: none;
			}
		}
	}
}
.filter-description {
	.filter-item {
		display: inline-block;
		border: 1px solid $borders;
		padding: 0 10px;
		border-radius: 15px;
		.icon-close {
			display: none;
		}
	}
}

.data-form-wrapper {
	.radio, .checkbox {
		label{
			margin-left: -20px;
		}
	}
	.checker {
		&>span {
			height: 12px;
			width: 12px;
			border: 5px solid $gray-lighter;
			@include border-radius (5px);
			background-color: $white;
		}
		span.checked {
			border: 5px solid transparent;
			background-color: $primary-blue;
			&:after {
				line-height: 11px;
				padding:0;
				margin:0;
				color: white;
				content: "\e64e";
				font-family: 'icons';
				font-size: 11px;
				left:1px;
				position: relative;
				speak:none;
				text-align: center;
				text-shadow:none;
				-webkit-font-smoothing: antialiased;
				font-weight: bold;
				top:1px;
			}
		}
	}
	.percentage-progress-bar {
		display: none;
	}
	textarea {
		resize: none;
		min-height: 114px;
	}
}

label.radio, div.radio, label.radio div.radio {
		span.checked {
			border: 4px solid $primary-blue;
			&:after{
				background-color: $primary-blue;
			}
		}
	}

.calendar-data, .email-data, .phone-data, .place-data,
.time-data, .description-data, .member-data{
	width: 100%;
	span {
		display: initial;
	}
}
.details_box {
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.result_user_date{
	display: none;
}
#resource-close-details {
	display: none;
}
.with-details-close-bar .padding-top-close-bar {
	padding-top: 0;
}
.export_fieldable {
	.form_field_checkbox, .form_field_radio, .form_field_dropdown {
		.controls {
			margin-left: 20px;
		}
	}
}
